@charset "UTF-8";
/**
 * author 张鑫
 * create time 2017-08-15
 */
html,body,ul,li,ol,p,span,div,header,main,h1,h2,h3,h4,h5,h6,em,i,small,section,aside,s,menu,code,label,eq,textarea,input,table,tr,td,th,thead,tbody,option,audio,canvas,svg,select,button,head,footer,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,samp,strike,strong,msqrt,sub,sup,tt,var,b,u,center,dl,dt,dd,fieldset,form,legend,caption,card,circle,article{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
html,body{height:100%;}
html *{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
  font-size: 14px;
  color: #333333;
}
ul,ol,li{list-style: none;}
a{
  text-decoration: none;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; }
em,i{font-style:normal;}
:focus{outline:0 none;}
:after,:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #b8b8b8;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#b8b8b8;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#b8b8b8;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#b8b8b8;}
.wp100{
  width: 100%;
}
/*辅助类*/
.text-red {
  color:#de182b;
}
/*layout*/
.container{
  width: 1200px !important;
}
.site-nav {
  padding: 5px 0;
  color:#7a7a7a;
  font-size: 12px;
  background-color: #151414;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.site-nav .login-link>a{
  color:#7a7a7a;
  margin-left: 20px;
}
.site-nav .login-link>a>span{
  color:#ffffff;
}
.header{
  background-color: #d60f21;
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0
}
.header--fixed+.header--fixed{
  top:27px;
}
.header .logo .navbar-brand{
  height: auto;
  padding: 20px 15px;
}
.header .logo .navbar-brand img,
.header .logo .navbar-brand span{display: inline-block;}
.header .logo .navbar-brand span{
  margin-left: 15px;
  color:#ffffff;
  font-size: 14px;
  vertical-align: sub;
}
.header .navbar-nav>li>a{
  color:#ffffff;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.header .navbar-nav>li>a:focus{
  background-color: #b90c1c;
}
.header .navbar-nav>li>a:hover,
.header .navbar-nav>li>a.router-link-active{
  background-color: #a50816;
}
/*主体内容*/
.wrapper{
  background-color: #f4f4f4;
}
.wrapper.mt107{
  padding-top: 107px;
  padding-bottom: 164px;
}
.footer{
  padding-top: 25px;
  padding-bottom: 30px;
  color:#a6a6a6;
  font-size: 14px;
  text-align: center;
  background-color: #151414;
}
.one-title{
  margin-top: 122px;
  margin-bottom: 51px;
  font-size: 43px;
  cursor: default;
}
.one-title>img:hover{
  animation-duration:1s;
  animation-fill-mode:both;
  animation-name:rotateIn;
}
.thumbnail {
  height:589px;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 29px rgba(228,228,228,.64);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.thumbnail:hover{
  -webkit-transform:translateY(-8px);
  -moz-transform:translateY(-8px);
  -ms-transform:translateY(-8px);
  -o-transform:translateY(-8px);
  transform:translateY(-8px);
}
.thumbnail-small{
  height: 305px;
  padding: 33px 38px;
}
.thumbnail>h3,
.thumbnail>p {
  width:50%;
  margin:0 auto;
  text-align:center;
}
.thumbnail>h3{
  margin-top: 40px;
  color:#e92f3f;
  font-size: 36px;
}
.thumbnail>p{
  height:50px;
  line-height: 25px;
  margin-top: 22px;
  font-size: 18px;
}
.thumbnail>.model-icon{
  margin-top:38px;
  text-align: center;
}
/*首页thumbnail的背景图片*/
.background{
  background-image: url("../images/background_group.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.thumbnail.background.bg1 {
  background-position: -29px 228px;
}

.thumbnail.background.bg2 {
  background-position: -640px 229px;
}

.thumbnail.background.bg3 {
  background-position: 5px -389px;
}

.thumbnail.background.bg4 {
  background-position: -639px -389px;
}

.thumbnail.thumbnail-center.background.bg5 {
  background-position: 0px -1007px;
}

.thumbnail.thumbnail-center {
  height: 439px;
  padding-top: 137px;
  text-align: right;
}

.thumbnail.thumbnail-center>img {
  display: inline-block;
}

.thumbnail.thumbnail-center>.describe {
  display: inline-block;
  padding-left: 50px;
  width: 50%;
  text-align: left;
}

.thumbnail.thumbnail-center>.describe>h3 {
  font-size: 36px;
  color: #f12638;
}

.thumbnail.thumbnail-center>.describe>p {
  width: 256px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 25px;
}
.thumbnail-small>p{
  margin-top: 17px;
  width: 100%;
  height: auto;
  font-size: 16px;
}
/*---------反欺诈 start-------*/
.background_item_safety{
  background-image: url("../images/background_item_safety.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.background_item_safety .model-icon{
  position: relative;
  margin-top: 58px;
}
.model-icon .text-tag{
  position: absolute;
  left:0;
  right:0;
  top:43%;
  width: 100%;
  text-align: center;
  color:#e93040;
  text-shadow: 0 0 10px rgba(255,0,23,.5);
}
.safety-icon{
  background-image: url("../images/safety_icon_group.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.safety-icon.honor{
  position: absolute;
  top: -26px;
  left: 50%;
  margin-left: -50px;
  width: 110px;
  height: 70px;
  background-position: -80px -2px;
}
i.safety-icon {
  margin-left: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
}
i.safety-icon.standard {
  background-position: 0px -34px;
  vertical-align: bottom;
}
i.safety-icon.custom-model {
  background-position: -40px -34px;
  vertical-align: bottom;
}
i.safety-icon+em{
  font-size:16px;
  color: #ffa800;
}
.btn-big-box{
  margin-top: 15px;
  text-align: center;
}
.btn-big-box>.btn{
  display: block;
  width: 240px;
  padding-left: 70px;
  padding-right: 70px;
  margin:0 auto;
  margin-bottom: 15px;
}
.honor.creditRating_honor{
  top: -35px;
  margin-left: -60px;
}
.thumbnail-center.reverse {
  text-align: left;
  padding-top: 100px;
}
.thumbnail-center.reverse .describe {
  float: left;
  text-align:right;
  padding-right: 60px;
}
.thumbnail.thumbnail-center>.describe>p {
  display: inline-block;
}
/*输入框查询页面*/
.white-bg {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #333333;
  background-color: #ffffff;
}

.white-bg h1 {
  margin-bottom: 15px;
  font-size: 22px;
}

.white-bg h1 + h2 {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
}

.white-bg .form-group .btn {
  width: 100%;
}

.white-bg .form-group label {
  font-weight: 400;
}

.white-bg .form-group a {
  color: #115fff;
  text-decoration: none;
}

.white-bg .form-group .btn {
  color: #fff;
}

/*搜索结果页面*/
.page-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.red-var {
  cursor: default;
  margin-left: 20px;
  padding: 6px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #eb2f41;
}

.panel-result {
  border: none;
  box-shadow: none;
}

.panel-result .panel-heading {
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}

.panel-result .panel-heading .panel-title {
  color: #333333;
  font-size: 22px;
}

.panel-result .panel-heading .panel-title .export {
  font-size: 14px;
}

.panel-result .panel-body {
  padding-top: 30px;
}

.table-box {
  margin-top: 30px;
}

.table-box h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #e3671f;
}

.table-box .table {
  border: 1px solid #bbbbbb;
}

.table-box .table td {
  border: 1px solid #bbbbbb;
}

.table-box + .table-box {
  margin-top: 40px;
}
/*设置页面*/
.white-bg .form-group .checkbox label {
  margin-bottom: 15px;
}
/*批量查询*/
input[type=file] {
  opacity: 0;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.form-group .btn.sm{
  width:auto;
  margin-right:10px;
}
/*dialog*/
.dialog .modal-content{
  border-radius: 0;
}
/*个人中心*/
.nav-box {
  width: 234px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #181818;
}
.nav-box>.nav>li>a{
  padding-left:30px;
  padding-right:30px;
  color:#fff;
  font-size:16px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.nav-box>.nav>li>a>i{
  float:right;
}
.nav-box>.nav>li>a:hover{
  background-color:#a70414;
}
.nav-box>.nav>li>a:focus,
.nav-box>.nav>li>a.router-link-active {
  background-color:#de182b;
}
.nav-link>li>a{
  color:#333;
  font-size:16px;
  font-weight:400;
}
.nav-link>li>a:hover,
.nav-link>li>a:focus,
.nav-link>li>a:active,
.nav-link>li>a.router-link-active{
  font-weight:bold;
  background-color:transparent;
}
/*账户概览*/
.block .block-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid #ceced7;
  border-bottom: 1px solid #ceced7;
}

.block .block-item:nth-of-type(even) {
  border-right: none;
}

.block .block-item.gary {
  background-color: #efeff6;
  border-right: none;
}
.block-item .text{
  font-size: 22px;
}
.block .text,
.block .log {
  margin-left: 20px;
}

.block .log {
  margin-bottom: 15px;
}

.block .search{
  margin-top: 30px;
}

.block .search a {
  color: #999;
}
.panel-dark .panel-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #151414;
  border-radius: 0;
  border-bottom: 6px solid #cc0b1c;
}

.panel-dark .panel-title {
  font-size: 18px;
  color: #fff;
}

.panel-dark .panel-body,
.panel-dark .panel-footer {
  background-color: #f3f3f3;
  padding: 40px 30px;
}

.panel-dark .panel-body {
  height: 200px;
}

.profile {
  color: #666666;
  line-height: 1.6;
}

.btn-box-pull .btn {
  width: 100%;
}
.btn-danger-empty,
.btn-danger-empty:hover,
.btn-danger-empty:focus,
.btn-danger-empty:hover:focus,
.btn-danger-empty:focus:hover{
  color: #cc0b1c;
  border-color: #cc0b1c;
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}
/*步骤条 step*/
.sui-steps {
  margin: 18px 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.sui-steps .wrap {
  display: inline-block;
}
.sui-steps .wrap > div {
  position: relative;
  display: inline-block;
  width: 195px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  vertical-align: top;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.sui-steps .wrap:first-child > div > label {
  margin-left: 26px;
}
.sui-steps .wrap > div > label {
  margin-left: 40px;
  cursor: default;
}
.sui-steps .triangle-right {
  position: absolute;
  right: -38px;
  z-index: 1;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.sui-steps .triangle-right-bg {
  position: absolute;
  right: -46px;
  top: -4px;
  z-index: 1;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px;
  border-color: transparent transparent transparent #FFF;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.sui-steps .finished {
  color: #ffffff;
  background-color: #cc0b1c;
}
.sui-steps .finished .triangle-right {
  border-color: transparent transparent transparent #cc0b1c;
}
.sui-steps .current {
  color: #ffffff;
  background-color: #ff4949;
}
.sui-steps .current .triangle-right {
  border-color: transparent transparent transparent #ff4949;
}
.sui-steps .todo {
  color: #666666;
  background-color: #eeeeee;
}
.sui-steps .todo .triangle-right {
  border-color: transparent transparent transparent #eeeeee;
}
.steps-auto {
  display: table;
  width: 100%;
}
.steps-auto .wrap {
  display: table-cell;
  width: 33%;
}
.steps-auto .wrap > div {
  width: 100%;
}
/*消息内容*/
.article-box {
  padding: 40px 40px;
  background-color: #ffffff;
}
.article-box h3 {
  color:#333;
  font-size:22px;
  margin-bottom:15px;
}
.article-box>p.publishDate {
  margin-bottom:20px;
  color:#999999;
}
.article-box h3>.el-button--text {
  color:#666666;
  font-size:20px;
}
.article-box .message-content p{
  line-height:2;
  color:#666666;
}
/*修改弹出层*/
.modal-header {
  border-bottom: none;
}

.dialog .modal-content {
  border-radius: 8px;
}

.modal-title {
  padding-top: 20px;
  text-align: center;
}

.modal-body {
  padding: 25px 60px;
}

.modal-footer {
  text-align: center;
  border-top: none;
  padding-bottom: 50px;
}
.modal .el-radio__input.is-checked .el-radio__inner {
  border-color: #ff4949;
  background-color: #ffffff;
}
.modal .el-radio__input.is-checked .el-radio__inner::after{
  background-color:#ff4949;
}
.modal.fade{
  opacity: 1 !important;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  -ms-transform: translate(0,0) !important;
  -o-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
.white-bg .form-group a.el-button{
  color:#ffffff;
}
/*信用评估渐变色的条*/
.transition-bar-box {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.transition-bar-box .wp400{
  width: 40%;
}

.transition-bar-box .wp242{
  width: 24.2%;
}

.transition-bar-box .wp158{
  width: 15.8%;
}

.transition-bar-box .wp100{
  width: 10%;
}

.transition-bar-box .wp85{
  width: 8.5%;
}

.transition-bar-box .wp78{
  width: 7.8%;
}

.transition-bar-box .wp50{
  width: 5%;
}

.transition-bar-box .wp37{
  width: 3.7%;
}

.transition-bar-text:before,
.transition-bar-item:before,
.transition-bar-score:before,
.transition-bar-text:after,
.transition-bar-item:after,
.transition-bar-score:after {
  display: table;
  content: ' ';
}

.transition-bar-text:after,
.transition-bar-item:after,
.transition-bar-score:after {
  clear: both;
}

.transition-bar-text .bar-text,
.transition-bar-item .bar-item,
.transition-bar-score .bar-score {
  float: left;
}

.transition-bar-box>div {
  margin-bottom: 10px;
}

.transition-bar-text .bar-text>span {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 58px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
}

.transition-bar-text .bar-text>span:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  display: block;
  content: ' ';
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-top-color: transparent;
}

.transition-bar-text .bar-text {
  border-radius: 3px;
  background-color: transparent;
  font-size: 12px;
  color: #686664;
}

.transition-bar-item .bar-item {
  height: 13px;
}

.transition-bar-item .bar-item-1,
.transition-bar-text .bar-text-1.active>span,
.transition-bar-text .bar-text-1.active>span:after{
  color:#fff;
  border-top-color: #eb534f;
  background-image:-webkit-linear-gradient(to right, #ff7e5e, #eb534f);
  background-image:-moz-linear-gradient(to right, #ff7e5e, #eb534f);
  background-image:-ms-linear-gradient(to right, #ff7e5e, #eb534f);
  background-image:-o-linear-gradient(to right, #ff7e5e, #eb534f);
  background-image:linear-gradient(to right, #ff7e5e, #eb534f);
}

.transition-bar-item .bar-item-2 {
  color:#fff;
  border-top-color: #fb6a26;
  background-image:-webkit-linear-gradient(to right, #ef9a28, #fb6a26);
  background-image:-moz-linear-gradient(to right, #ef9a28, #fb6a26);
  background-image:-ms-linear-gradient(to right, #ef9a28, #fb6a26);
  background-image:-o-linear-gradient(to right, #ef9a28, #fb6a26);
  background-image:linear-gradient(to right, #ef9a28, #fb6a26);
}

.transition-bar-item .bar-item-3,
.transition-bar-text .bar-text-2.active>span,
.transition-bar-text .bar-text-2.active>span:after {
  color:#fff;
  border-top-color: #fb8a26;
  background-image:-webkit-linear-gradient(to right, #ecb021, #fb8a26);
  background-image:-moz-linear-gradient(to right, #ecb021, #fb8a26);
  background-image:-ms-linear-gradient(to right, #ecb021, #fb8a26);
  background-image:-o-linear-gradient(to right, #ecb021, #fb8a26);
  background-image:linear-gradient(to right, #ecb021, #fb8a26);
}

.transition-bar-item .bar-item-4,
.transition-bar-text .bar-text-3.active>span,
.transition-bar-text .bar-text-3.active>span:after {
  color:#fff;
  border-top-color: #fba326;
  background-image:-webkit-linear-gradient(to right, #e8c53b, #fba326);
  background-image:-moz-linear-gradient(to right, #e8c53b, #fba326);
  background-image:-ms-linear-gradient(to right, #e8c53b, #fba326);
  background-image:-o-linear-gradient(to right, #e8c53b, #fba326);
  background-image:linear-gradient(to right, #e8c53b, #fba326);
}

.transition-bar-item .bar-item-5,
.transition-bar-text .bar-text-4.active>span,
.transition-bar-text .bar-text-4.active>span:after {
  color:#fff;
  border-top-color: #6bbc0b;
  background-image:-webkit-linear-gradient(to right, #a4ce4d, #6bbc0b);
  background-image:-moz-linear-gradient(to right, #a4ce4d, #6bbc0b);
  background-image:-ms-linear-gradient(to right, #a4ce4d, #6bbc0b);
  background-image:-o-linear-gradient(to right, #a4ce4d, #6bbc0b);
  background-image:linear-gradient(to right, #a4ce4d, #6bbc0b);
}

.transition-bar-item .bar-item-6,
.transition-bar-text .bar-text-5.active>span,
.transition-bar-text .bar-text-5.active>span:after {
  color:#fff;
  border-top-color: #45cf32;
  background-image:-webkit-linear-gradient(to right, #73ce2f, #45cf32);
  background-image:-moz-linear-gradient(to right, #73ce2f, #45cf32);
  background-image:-ms-linear-gradient(to right, #73ce2f, #45cf32);
  background-image:-o-linear-gradient(to right, #73ce2f, #45cf32);
  background-image:linear-gradient(to right, #73ce2f, #45cf32);
}

.transition-bar-item .bar-item-7,
.transition-bar-text .bar-text-6.active>span,
.transition-bar-text .bar-text-6.active>span:after {
  color:#fff;
  border-top-color: #2cb479;
  background-image:-webkit-linear-gradient(to right, #30c493, #2cb479);
  background-image:-moz-linear-gradient(to right, #30c493, #2cb479);
  background-image:-ms-linear-gradient(to right, #30c493, #2cb479);
  background-image:-o-linear-gradient(to right, #30c493, #2cb479);
  background-image:linear-gradient(to right, #30c493, #2cb479);
}

.transition-bar-item .bar-item-8,
.transition-bar-text .bar-text-7.active>span,
.transition-bar-text .bar-text-7.active>span:after {
  color:#fff;
  border-top-color: #22b9c7;
  background-image:-webkit-linear-gradient(to right, #27c9a0, #22b9c7);
  background-image:-moz-linear-gradient(to right, #27c9a0, #22b9c7);
  background-image:-ms-linear-gradient(to right, #27c9a0, #22b9c7);
  background-image:-o-linear-gradient(to right, #27c9a0, #22b9c7);
  background-image:linear-gradient(to right, #27c9a0, #22b9c7);
}

.transition-bar-item .bar-item-9,
.transition-bar-text .bar-text-8.active>span,
.transition-bar-text .bar-text-8.active>span:after {
  color:#fff;
  border-top-color: #1ca4ef;
  background-image:-webkit-linear-gradient(to right, #49d8d9, #1ca4ef);
  background-image:-moz-linear-gradient(to right, #49d8d9, #1ca4ef);
  background-image:-ms-linear-gradient(to right, #49d8d9, #1ca4ef);
  background-image:-o-linear-gradient(to right, #49d8d9, #1ca4ef);
  background-image:linear-gradient(to right, #49d8d9, #1ca4ef);
}

.transition-bar-item .bar-item-10,
.transition-bar-text .bar-text-9.active>span,
.transition-bar-text .bar-text-9.active>span:after {
  color:#fff;
  border-top-color: #1ca4ef;
  background-image:-webkit-linear-gradient(to right, #48d7da, #1ca4ef);
  background-image:-moz-linear-gradient(to right, #48d7da, #1ca4ef);
  background-image:-ms-linear-gradient(to right, #48d7da, #1ca4ef);
  background-image:-o-linear-gradient(to right, #48d7da, #1ca4ef);
  background-image:linear-gradient(to right, #48d7da, #1ca4ef);
}

.transition-bar-item .bar-item{
  border-radius: 1px;
}

.bar-score>span{
  display: inline-block;
  width: 50%;
  font-size: 12px;
  color: #686664;
}

.bar-score>.score {
  margin-left: -10px;
}

.bar-score>span.score+span.score{
  text-align: right;
  margin-left: 10px;
}
.transition-bar-text.posa {
  position: absolute;
  top: 13px;
  margin-left: -29px;
  left: 15.8%;
}
/**
* 表格的左侧和右侧固定的列
* .el-table__fixed, .el-table__fixed-right
*/
.block-item .el-table__fixed,
.block-item .el-table__fixed-right{
  overflow-y: hidden !important;
}
/*动画*/
@keyframes rotateIn {
  from{
    transform-origin:center;
    transform:rotate(-200deg);
    opacity:0
  }to{
     transform-origin:center;
     transform:none;
     opacity:1;
   }
}
